<div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container id="firstName" matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <ng-container id="lastName" matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container id="gender" matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
        <ng-container id="dateOfBirth" matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
        </ng-container>
        <ng-container id="departmentName" matColumnDef="departmentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
